@media only screen and (min-width:768px){
    main{
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: center;
    
    }
    section#logo{
        height: 100%;
        width: 50%;
    }
    section#logo > .imagem{
        height: auto;
        width: 50vw;
    }
    section#login{
        margin: 0px 10px;
    }

}
